footer {
  background-color: rgb(0, 0, 0);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 50px 0;
}
.footer-p {
  font-size: 20px;
  padding-bottom: 10px;
}

.icon {
  margin-top: 10px;
  font-size: 30px;
  color: #ffffff;
  transition: all 0.8s;
}
.icon:hover {
  cursor: pointer;
  color: #d16150;
}

.icon:not(:last-child) {
  margin-right: 10px;
}
